<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAUS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<main>

    <h1>🗑️ RAUS</h1>

    <section class="today">
        <h2>Heute</h2>
        <div class="counter">
            {{ today_count }} / 5
        </div>
        <p>5 Dinge aus dem Haus schaffen.</p>
    </section>

    <form action="{{ '/save/' ~ edit_item[4] if edit_item else '/add' }}" method="post">

        <input
            type="number"
            name="quantity"
            placeholder="Wie viele?"
            value="{{ edit_item[0] if edit_item else 1 }}"
            required
            autofocus
        >

        <input
            type="text"
            name="name"
            placeholder="Was ist raus?"
            value="{{ edit_item[1] if edit_item else '' }}"
            required
            autofocus
        >
        {% if edit_item %}
        <input
            type="hidden"
            name="item_id"
            value="{{ edit_item[4] }}"
        >
        <input type="hidden" name="action" value="{{ edit_item[2] }}">
        <button type="submit">Speichern</button>
        {% else %}
        <div class="actions">
            <button name="action" value="Müll">🗑️ Müll</button>
            <button name="action" value="Verschenkt">🎁 Verschenkt</button>
            <button name="action" value="Verkauft">💰 Verkauft</button>
            <button name="action" value="Wertstoffhof">♻️ Wertstoffhof</button>
        </div>
        {% endif %}

    </form>
    {% if not edit_item %}
    <section>
        <h2>Zuletzt raus</h2>

        {% for item in items %}
        <div class="item">
            <form class="edit-form" action="/edit/{{ item[4] }}" method="get">
                <span>{{ item[0] }}</span>
                <strong>{{ item[1] }}</strong>
                <span>{{ item[2] }}</span>
                <span>{{ item[3] }}</span>
                <button class="edit-button">✏️ Edit</button>
            </form>
        </div>
        {% endfor %}

    </section>
    {% endif %}

</main>

</body>
</html>
